/* ====== Root variables ====== */
:root {
  --white: #f2f2f2;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ====== General HTML Styling ====== */

html {
  color: black;
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

button {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: var(--white);
  background-color: rgba(11, 10, 12, 0.918);
  letter-spacing: 0.05em;
  padding: 0.5em 1em;
  width: 100%;
  margin-left: 25%;
  max-width: 380px;
}

/* ====== header styling ====== */

header {
  background-color: red;
  color: var(--white);
  padding: 0.1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  font-family: "Pokemon Solid", sans-serif;
  text-shadow: 3px 3px 3px black;
}

/* ====== Footer Styling ====== */

footer {
  background-color: black;
  color: var(--white);
  padding: 1em;
  text-align: center;
}

/* ====== Main Styling ====== */

main {
  background: var(--white);
  animation: fadeIn 0.4s;
  padding: 137px 0 0;
}

/* ====== Grid Container Styling ====== */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* ====== Dialog Styling ====== */

#pokemon {
  margin-top: 2%;
}

#pokemon img {
  object-fit: contain;
}

.pokemon-card-view {
  background-color: cornflowerblue;
  border: 5px inset black;
  border-radius: 50px;
}

.pokemon-card-view:hover {
  transform: scale(105%);
}

dialog {
  position: relative;
  background-color: rgba(255, 255, 255, 0.664);
  margin: auto;
  width: 40vw;
  top: 10%;
  padding: 2em 1em;
  backdrop-filter: blur(5px);
}

dialog::backdrop {
  background: rgb(172, 198, 201, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-close {
  display: block;
  left: 50%;
}

/* ====== Modal Styling ====== */

#pokemon-name {
  text-align: center;
}

#pokemon-dexindex {
  text-align: center;
}

#pokemon-image {
  display: grid;
  grid-area: 1;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#pokemon-footprint {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

#pokemon-stats {
  display: grid;
  grid-area: 2;
  width: 50%;
  height: 50%;
  top: 0;
  left: 50%;
}
