/* ====== Root variables ====== */
:root {
  --white: #f2f2f2;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */

html {
  color: black;
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

/* ---------- header styling ---------- */

header {
  background-color: red;
  color: var(--white);
  padding: 0.1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  font-family: "Pokemon Solid", sans-serif;
  text-shadow: 3px 3px 3px black;
}

/* ---------- footer styling ---------- */

footer {
  background-color: black;
  color: var(--white);
  padding: 1em;
  text-align: center;
}

/* ---------- main page styling ---------- */

main {
  background: var(--white);
  animation: fadeIn 0.4s;
  padding: 137px 0 0;
}

/* ---------- grid container styling ---------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* ---------- grid item styling ---------- */

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.grid-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.grid-item p {
  margin: 0.3em 0;
}

/* ---------- buttons in grid container ---------- */

.grid-container .btns {
  padding: 1em 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid-container .btns button {
  width: 100%;
}

/* ---------- form styling ---------- */

button {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
}

/* ---------- dialog styling ---------- */

#pokemon {
  margin-top: 2%;
}

#pokemon img {
  object-fit: contain;
}

.pokemon-card-view {
  background-color: cornflowerblue;
  border: 5px inset black;
  border-radius: 50px;
}

dialog {
  position: relative;
  background-color: rgba(84, 184, 81, 0.466);
  /* border:; */
  /* overflow: hidden; */
  margin: auto;
  width: 40vw;
  top: 10%;
  padding: 2em 1em;
  backdrop-filter: blur(5px);
}

dialog::backdrop {
  background: rgb(172, 198, 201, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-close {
  text-align: center;
}

/* styling modal */

#pokemon-name {
  text-align: center;
}

#pokemon-dexindex {
  text-align: center;
}

#pokemon-image {
  display: grid;
  grid-area: 1;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#pokemon-footprint {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#pokemon-stats {
  display: grid;
  grid-area: 2;
  width: 50%;
  height: 50%;
  top: 0;
  left: 50%;
}

/* #pokemon-name {

}      
#pokemon-name {

}      
#pokemon-name {

}      
#pokemon-name {

}      
#pokemon-name {

}      
#pokemon-name {

}  */

/* 
<dialog id="pokemon-dialog">
        <h2 id="pokemon-name">pokemon name </h2>
        <h3 id="pokemon-dexindex">#0${pokemon.dexindex}</h3>
        <img id="pokemon-image" src="${pokemon.image}"/>
        <li id="pokemon-subtype">Subtype: ${pokemon.subtype}</li>
        <li id="pokemon-weaknesses">Weaknesses: ${pokemon.weaknesses}</li>
        <li id="pokemon-ability">Ability: ${pokemon.ability}</li>
        <li id="pokemon-gender">Gender: ${pokemon.gender}</li>
        <li id="pokemon-height">Height: ${pokemon.height}</li>
        <li id="pokemon-weight">Weight: ${pokemon.weight}</li>
        <li id="pokemon-generation">Generation: ${pokemon.generation}</li>
        <li id="pokemon-canEvolve">Can Evolve: ${pokemon.canEvolve}</li>
          <div id="pokemon-stats">
            <li id="pokemon-hp">HP: ${pokemon.statsHP}</li>
            <li id="pokemon-attack">Attack: ${pokemon.statsAttack}</li>
            <li id="pokemon-defence">Defence: ${pokemon.statsDefence}</li>
            <li id="pokemon-specialattack">SP.Attack: ${pokemon.statsSpecialAttack}</li>
            <li id="pokemon-defence">SP.Defence: ${pokemon.statsSpecialDefence}</li>
            <li id="pokemon-speed">Speed: ${pokemon.statsSpeed}</li>
        </div> */
